html(lang="en")
	head
		title valstream
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
	script(type="text/javascript", src="http://documentcloud.github.com/underscore/underscore-min.js")
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/swag.js")
	
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
	#heading
		h1 valstream
	#content
		#rooms.selectMenu
			h3 rooms
			select(size=40)#roomList.roomSelect
				each room in rooms
					option= room
			button#delRmBtn -

		#listsForRoom
			#history.selectMenu
				h3 history
				select(size=40)#roomHistory.videoSelect
				//button#delFromHistBtn -
			
			#val.selectMenu
				h3 val
				select(size=40)#VALsList.videoSelect
				//button#delFromValBtn -

		#roomButtons
			input#roomInput 
			button#addRmBtn Add Room
			button#renameRmBtn Rename Selected
		

		#search
			input#vidInput(rows='15', cols='37', wrap='physical')
			button#addVideo Add Video
			button#addChannel Add Channel
			button#addVideosFromPlaylist Add Playlist
			
			ul#videoList

		#footer


