html(lang="en")
	head
		title valstream
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
	script(type="text/javascript", src="http://documentcloud.github.com/underscore/underscore-min.js")
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/swag.js")
	
	body
	#heading
		h1 valstream
	#content
		select(size=40)#roomList
			each room in rooms
				option= room

		select(size=40)#VALsList
		
		#roomButtons
			button#delRmBtn Delete Room
			button#renameRmBtn Rename Room
		
			input#roomInput 
			button#addRmBtn Add Room

		#search
			input#vidInput(rows='15', cols='37', wrap='physical')
			button#addVideo Add Video
			button#addChannel Add Channel
			
			ul#videoList

		#footer


